{% extends "base.html" %}

{% block title %}Bilal Chughtai {% endblock %}

{% block header %}
<header>
    <nav>
        <div class="site-name heading-font">Bilal Chughtai &mdash; home page</div>
    </nav>
</header>
{% endblock %}

{% set toc = false %}

{% block content %}
<h1 class="post-title">Bilal Chughtai</h1>

<h2 id="section-0">About</h2>

<p>I spend my time thinking about how to make powerful AI go well for humanity. I currently work on the language model interpretability team at <a href="https://deepmind.google/">Google DeepMind</a>. Opinions my own.</p>

<p>This site serves as a minimal home for artefacts I produce on the internet.</p>

<p> Links:
<a href="https://scholar.google.com/citations?user=i-L98bwAAAAJ&hl=en">google scholar</a> // 
<a href="https://www.linkedin.com/in/bilalchughtai/">linkedin</a> //
<a href="https://www.lesswrong.com/users/bilalchughtai">lesswrong</a> // 
<a href="https://x.com/bilalchughtai_">twitter</a> // 
<a href="https://www.instapaper.com/p/bilalchughtai">instapaper</a> // 
<a href="https://www.strava.com/athletes/32291390">strava</a> // 
<a href="mailto:brchughtaii@gmail.com">email</a>.
</p>



<h2 id="section-1">Posts</h2>
<div class="tab-container">
    <input type="radio" id="tab1" name="tabs" checked>
    <input type="radio" id="tab2" name="tabs">
    <input type="radio" id="tab3" name="tabs">

    <div class="tab-buttons">
        <label for="tab1" class="tab-button">Latest</label>
        <label for="tab3" class="tab-button">Tags</label>
    </div>

    <div class="tab-content" id="chronological">
        {% for year_group in posts_by_year %}
        <p class="link-heading">{{ year_group.year }}</p>
        <ul>
            {% for post in year_group.posts %}
            <li><a href="{{ post.meta.label }}">{{ post.meta.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

    <div class="tab-content" id="topic">
        {% for tag_group in posts_by_tag %}
        <p class="link-heading">{{ tag_group.tag }}</p>
        <ul>
            {% for post in tag_group.posts %}
            <li><a href="{{ post.meta.label }}">{{ post.meta.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}