{% extends "base.html" %}

{% block title %}{{ post.meta.title }} - Bilal Chughtai{% endblock %}

{% block description %}{{ post.meta.description }}{% endblock %}

{% block header %}
<header>
    <nav>
        <div class="site-name heading-font">Bilal Chughtai &mdash; <a href="{{ '../' if not is_index else '' }}">home
                page</a>
        </div>
    </nav>
</header>
{% endblock %}

{% block left_column %}
{% if toc %}
<nav id="toc" class="table-of-contents">
    <hr class="toc-separator">
    <ul>
        {% for item in toc %}
        <li class="toc-h{{ item.level }}">
            <a href="#{{ item.id }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
    <hr class="toc-separator">
</nav>
{% endif %}
{% endblock %}

{% block content %}
<article>
    <h2 class="post-title">{{ post.meta.title }}</h2>
    <div class="post-meta">
        {% if post.meta.coauthors %}
        <p>Co-authored with: <strong>{{ post.meta.coauthors | join(', ') }}</strong></p>
        {% endif %}
        <p>
            <time datetime="{{ post.meta.date }}">{{ post.meta.date }}</time>
            &middot; {{ (post.meta.word_count / 1000) | round(1) }}k words
            &middot; {{ (post.meta.word_count / 275) | round | int }} minute read
        </p>
        <!-- <p class="post-summary"> <strong>Summary</strong>: {{ post.meta.description }}</p> -->
    </div>

    {% if toc %}
    <div class="collapsed-sidebar">
        <nav id="collapsed-toc" class="table-of-contents">
            <hr class="toc-separator">
            <ul>
                {% for item in toc %}
                <li class="toc-h{{ item.level }}">
                    <a href="#{{ item.id }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr class="toc-separator">
        </nav>
    </div>
    {% endif %}

    <div class="post-content">
        {{ post_content | safe }}
    </div>
    {% if post.meta.label == "todo" %}
    <style>
        .post-content img {
            width: 80%;
            height: auto;
        }
    </style>
    {% endif %}
    <div class="footer">
        {% if post.meta.sequel %}
        <p>Next: <a href="../{{ post.meta.sequel }}/">{{ get_post_title(post.meta.sequel) }}</a></p>
        {% endif %}
        {% if post.meta.prequel %}
        <p>Previous: <a href="../{{ post.meta.prequel }}/">{{ get_post_title(post.meta.prequel) }}</a></p>
        {% endif %}
        {% if post.meta.elsewhere %}
        <p><em>There may be more information or discussion about this post elsewhere:</em></p>
        <ul>
            {% for link in post.meta.elsewhere %}
            <li><a href="{{ link }}">{{ get_domain(link) }}</a></li>
            {% endfor %}
        </ul>
        </p>
        {% endif %}
    </div>
</article>
{% endblock %}